* {
  margin: 0px;
}

a{
  text-decoration: none;
  color: inherit;
}

li{
  list-style: none;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  color: #818181
}

.header-logo{
  width: 120px;
}

.header-nav-list {
  display: flex;
}

.header-nav-item{
  margin-right: 30px;
  
}

.top{
  position: relative;
}

.top-img img{
  max-width: 800px;
  width: 100%;
  margin: 0 0 0 auto;
  display: block;
}

.top-content{
  position: absolute;
  bottom: 35%;
  left: 25%;
}

.top-content span{
  color:#1C9DA3;
}

.top-content-title{
  font-family: 'Indie Flower', cursive;
  font-size: 400%;
  color: #B31667;
}

.top-content-text{
  font-size: 130%;
  color: #B31667;
}

.top-content-text2{
  color: #818181
}

.title{
  font-family: 'Indie Flower', cursive;
  font-size: 100%;
  color: #B31667;
}

.sub-title{
  color: #6D6D6D;
}

.news{
  margin : 50px auto;
  width: 800px;
  padding:15px;
}

.news h2{
  padding-top: 10px;
  padding-bottom: 30px;
}

.news ul{
  border-top: solid 2px #D6D6D6;
  border-bottom: solid 2px #D6D6D6;
  padding-top: 10px;
  padding-bottom: 25px;
  padding-left: 0;
  color: #818181;
  font-size: 16px;

}

.news li{
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: solid 1px #D6D6D6;

}

.news-cat{
  margin: 0 20px;
  padding: 0 10px;
  background-color: #B31667;
  border-radius: 30px;
  color: white;
}

.about{
  background-color: #F5F5F5;
  margin : 40px auto;
  
}

.about h1{
  margin: 10px auto;
  width: 0px;
  padding-top: 30px;
}

.about h2{
  text-align: center;
  margin: 0px auto;
  padding-bottom: 10px;
}

.about-contents{
  color: #6D6D6D;
  display: flex;
  justify-content: space-around;
  padding-top: 20px ;
  padding-bottom: 50px;
}

.about-contents-text{
  padding-left: 150px;
}

.about-img{
  width: 400px;
  padding-right: 120px;
}

.service{
  margin : 50px auto;
  width: 1000px;
  padding:15px;
}

.service h2{
  padding-bottom: 20px;
}

.service-contents{
  display: grid;
  grid-template-rows: 200px 200px;
  grid-template-columns: 1fr 1fr;
  color: white;
}

.service-img{
  width: 150px;
}

.service-contents-block1{
  grid-row: 1/3;
  grid-column: 1/2;
  background-color: #B31667;
  margin: 0 auto;
  text-align: center;
  padding: 30px 60px 45px 60px;
}

.service-contents h3{
  padding: 10px 0;
}

.service-contents-block1-text{
  text-align: left;
  line-height: 180%;
}

.service-contents-block2{
  grid-row: 1/2;
  grid-column: 2/3;
  background-color: #B35B8B;
  position: relative;
}

.service-contents-block2-item{
  position: absolute;
  left: 40%;
  bottom: 20%;
}

.service-contents-block2 img{
  margin-top: 20px;
  margin-left: 20px;
}

.service-contents-block2-text{
  line-height: 180%;
}

.service-contents-block3{
  grid-row: 2/2;
  grid-column: 2/3;
  background-color: #B2889E;
  position: relative;
}

.service-contents-block3-item{
  position: absolute;
  left: 40%;
  bottom: 20%;
}

.service-contents-block3 img{
  margin-top: 20px;
  margin-left: 20px;
}

.service-contents-block3-text{
  line-height: 180%;
}

.section5{
  background-color: #F5F5F5;
}

.blog{
  margin : 70px auto;
  width: 1000px;
  padding:40px;
}

.blog-wrapper{
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
}

.blog h2{
  padding-top: 10px;
}

.blog-card1{
  padding-right: 10px;
}

.blog-card2{
  padding-right: 10px;
}

.card-img{
  position: relative;
  width: 20%;
}

.blog-wrapper img {
  width: 300px;
  height: auto;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  display: block;
}

.blog-card-title{
  position: absolute;
  border-top-left-radius: 20px;
  color: white;
  background-color: #B31667;
  padding: 7px 20px;
}

.card-content{
  background-color: white;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 300px;
  height: auto;
  padding: 20px 25px;
  box-sizing: border-box;
  color: #6D6D6D;
}

.card-content-text{
  font-weight: bold;
  padding-bottom: 30px;
  
}

.card-content-tag{
  display: flex;
  font-size: 14px;
  justify-content: space-between;
}

.area{
  text-align: center;
}

.blog-btn{
  display: inline-block;
  border: solid 2px #B31667;
  border-radius: 30px;
  color: #B31667;
  background-color: white;
  padding: 15px 50px;
  text-align: center;
}

.company{
  margin : 0 auto;
  width: 750px;
}

.company h2{
  padding-bottom: 30px;
}


table {
  width: 100%;
  border-collapse: collapse;
  color: #6D6D6D;
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 18px ;
}


table th {
  font-weight: bold;
  background-color: #F5F5F5;
  width: 30%;
  text-align: left;
}

.rec-int{
  margin-top: 75px;
  margin-left: 0;
  margin-right: 0%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}


.rec{
  position: relative;
}

.rec-int-title1{
  position: absolute;
  bottom: 40%;
  left: 40%;
  color: white;
}

.int{
  position: relative;
}

.rec-int-title2{
  position: absolute;
  bottom: 40%;
  left: 35%;
  color: white;
}

.contact{
  margin-top: 75px;
  position: relative;
}

.contact-text{
  color: #6D6D6D;
  margin: 0 auto;
  width: 400px;
}

.contact-item{
  border-right: solid 2px #B9176A;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 29%;
  left: 47%;
}

.contact__btn{
  background: linear-gradient(90deg,#FC1E8D, #B9176A);
  position: relative;
  color: white;
  width: 220px;
  display: block;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  border-radius: 30px;
  margin: 80px auto;
  box-shadow: 0px 5px 0px #840050;
}

.contact__btn::before{
  content: "";
  position: absolute;
  top: 30%;
  left: 10%;
  background: url(../img/mailicon.svg) no-repeat;
  background-size: 80%;
  width: 30px;
  height: 30px;
}

footer{
  background-color: #F5F5F5;
  text-align: center;
  color: #6D6D6D;
  padding: 15px;
}